<h1 class='text-center mb-3'>{{title}}</h1>
<form action="/api/members" method="POST">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name">
</div>
<div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" name="email">
</div>
<div class="form-group">
    <input type="submit" class="form-control btn btn-block btn-primary" name="submit" >
</div>
</form>

<h4>Members</h4>
<ul class='list-group'>
    {{# each members}}
    <li class='list-group-item'>{{this.name}}:{{this.email}}</li>
    {{/each}}
</ul>

<a href="/api/members" type='button' class="btn btn-default btn-link mt-3">Show Member Api</a>